## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Albany,42.6001,-73.9662,68.18,scattered clouds,49,31,1.99,US
1,1,Castro,-24.7911,-50.0119,76.39,scattered clouds,54,26,0.63,BR
2,2,Rikitea,-23.1203,-134.9692,73.56,few clouds,73,14,18.10,PF
3,3,Qaanaaq,77.4840,-69.3632,20.12,scattered clouds,69,43,6.53,GL
4,4,Bredasdorp,-34.5322,20.0403,60.12,broken clouds,77,56,8.05,ZA

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
1,1,Castro,-24.7911,-50.0119,76.39,scattered clouds,54,26,0.63,BR
7,7,Bubaque,11.2833,-15.8333,83.59,overcast clouds,73,94,9.55,GW
8,8,Garissa,-0.4536,39.6401,80.24,few clouds,54,24,24.76,KE
10,10,Siderno,38.2779,16.3020,78.28,broken clouds,70,69,5.77,IT
12,12,Pochutla,15.7432,-96.4661,88.56,broken clouds,57,69,5.48,MX
13,13,Hambantota,6.1241,81.1185,80.08,overcast clouds,82,100,23.09,LK
17,17,Tuy Hoa,13.0833,109.3000,77.02,scattered clouds,90,31,3.04,VN
21,21,Georgetown,5.4112,100.3354,76.95,scattered clouds,98,40,5.99,MY
23,23,Atuona,-9.8000,-139.0333,78.58,broken clouds,67,51,18.37,PF
24,24,Puerto Ayora,-0.7393,-90.3518,76.96,overcast clouds,82,89,9.24,EC

In [6]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                684
City                   684
Lat                    684
Lng                    684
Max Temp               684
Current Description    684
Humidity               684
Cloudiness             684
Wind Speed             684
Country                681
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
1,1,Castro,-24.7911,-50.0119,76.39,scattered clouds,54,26,0.63,BR
7,7,Bubaque,11.2833,-15.8333,83.59,overcast clouds,73,94,9.55,GW
8,8,Garissa,-0.4536,39.6401,80.24,few clouds,54,24,24.76,KE
10,10,Siderno,38.2779,16.3020,78.28,broken clouds,70,69,5.77,IT
12,12,Pochutla,15.7432,-96.4661,88.56,broken clouds,57,69,5.48,MX
...,...,...,...,...,...,...,...,...,...,...
667,667,Colon,9.3592,-79.9014,87.82,overcast clouds,80,100,4.94,PA
669,669,Mayumba,-3.4320,10.6554,75.97,overcast clouds,87,87,5.84,GA
672,672,Arawa,-6.2132,155.5367,76.30,broken clouds,91,69,2.19,PG
681,681,Kota Kinabalu,5.9749,116.0724,76.98,few clouds,94,20,3.44,MY
683,683,Oro Valley,32.3909,-110.9665,81.45,scattered clouds,70,42,3.00,US

In [8]:
clean_df.count()

City_ID                225
City                   225
Lat                    225
Lng                    225
Max Temp               225
Current Description    225
Humidity               225
Cloudiness             225
Wind Speed             225
Country                225
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Castro,BR,76.39,scattered clouds,-24.7911,-50.0119,
7,Bubaque,GW,83.59,overcast clouds,11.2833,-15.8333,
8,Garissa,KE,80.24,few clouds,-0.4536,39.6401,
10,Siderno,IT,78.28,broken clouds,38.2779,16.3020,
12,Pochutla,MX,88.56,broken clouds,15.7432,-96.4661,
13,Hambantota,LK,80.08,overcast clouds,6.1241,81.1185,
17,Tuy Hoa,VN,77.02,scattered clouds,13.0833,109.3000,
21,Georgetown,MY,76.95,scattered clouds,5.4112,100.3354,
23,Atuona,PF,78.58,broken clouds,-9.8000,-139.0333,
24,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.count()

City                   225
Country                225
Max Temp               225
Current Description    225
Lat                    225
Lng                    225
Hotel Name             225
dtype: int64

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "")]
clean_hotel_df.count()

City                   214
Country                214
Max Temp               214
Current Description    214
Lat                    214
Lng                    214
Hotel Name             214
dtype: int64

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))